
	:root {
		var-green: rgb(70,95,91);
		var-top-modal: 10%;
	}

	div, body {
		margin: 0;
		font:normal  15px "Courier New", Courier, monospace;
		font: normal 14px "Lucida Console", Monaco, monospace;
	     user-select: none;
	    -khtml-user-select: none;
	    -o-user-select: none;
	    -moz-user-select: -moz-none;
	    -webkit-user-select: none;
	}

	h4 { 
		margin-bottom: 20px;
    	margin-top: 30px;
	}

	p {
		text-align: justify;
		/*text-justify: kashida;*/
	}
	
	::selection { background: transparent;color:inherit; }
	::-moz-selection { background: transparent;color:inherit; }

	.hide {
		visibility: hidden;
		height: 0;
		width: 0;
		margin: 0;
	}

	.fade-out {
		
	    opacity: 0;
	    -ms-filter: "prodig:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	    filter: alpha(opacity = 0); 
	}
	 
	.fade-in {

	    opacity: 1; 
	    -ms-filter:"prodig:DXImageTransform.Microsoft.Alpha(Opacity=100)"; 
	    filter: alpha(opacity = 100); 	    
	}

	.size-up {
		height: 100%;
		width: 100%;
	}

	.size-down {
		height: 0%;
		width: 0%;
	}

	#photo_info, #language, #links {
		top: 1%;		
		position: absolute;
		z-index: 1;
	}

	#photo_info {
		font-size: 10px;
		left: 1%;
	}

	#language {
		width: 100px;
		right: 1%;
	}

	.flag, .pin {
		width: 25px;
		height: 25px;
	}

	#links {
		right: 200px;
	}

	#main_modal {

		background-color: rgba(70,95,91, 0);
		z-index: 3000;
		position: fixed;
		text-align: center;
		-webkit-transition: background-color 1s ease-in-out, height 1s ease-in-out, width 1s ease-in-out, opacity 0.5s ease-in-out 0.25s;
	    -moz-transition:	background-color 1s ease-in-out, height 1s ease-in-out, width 1s ease-in-out, opacity 0.5s ease-in-out 0.25s;
	    -o-transition: 		background-color 1s ease-in-out, height 1s ease-in-out, width 1s ease-in-out, opacity 0.5s ease-in-out 0.25s;
	    transition: 		background-color 1s ease-in-out, height 1s ease-in-out, width 1s ease-in-out, opacity 0.5s ease-in-out 0.25s;

	}

	#main_modal.fade-in {
	    background-color: var(green);
		background-color: rgba(70,95,91, 0.6);
		
		filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
	}
	

	#main_modal.fade-out {
		background-color: rgb(70,95,91);
		background-color: rgba(70,95,91, 0);
	}

	#modal_content, #info_right {
		-webkit-transition: opacity 0.7s ease 0.25s, height 1s ease 0.1s, width 0.5s ease 0.5s;/* transition pour Chrome et Safari */
	    -moz-transition: 	opacity 0.7s ease 0.25s, height 1s ease 0.1s, width 0.5s ease 0.5s;/* transition pour Firefox */
	    -o-transition: 		opacity 0.7s ease 0.25s, height 1s ease 0.1s, width 0.5s ease 0.5s;/* transition pour Opéra */
	    transition: 		opacity 0.7s ease 0.25s, height 1s ease 0.1s, width 0.5s ease 0.5s;*/ 
	
	}

	#modal_content {
		resize: both;
		padding: 10px;
		z-index: 4000;
		margin: 3% auto auto auto;
		background-color : rgb(235,241,255);
		-moz-border-radius:10px 10px 10px 10px;
		-webkit-border-radius:10px 10px 10px 10px;
		border-radius:10px 10px 10px 10px;
		overflow: auto;
	}

	#modal_content.fade-in {
	    opacity: 0.9; 
	    -ms-filter:"prodig:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	    filter: alpha(opacity = 80); 
	}


	

	#modal_content div {
		text-align: justify;
		-moz-border-radius:10px 10px 10px 10px;
		-webkit-border-radius:10px 10px 10px 10px;
		border-radius:10px 10px 10px 10px;	
	}

	#modal_content .close {
		background-image: url('../img/close.jpg');
		float: right;
		height: 16px;
		width: 16px;
	}

	#modal_content .close:hover, .modal_label:hover {
		cursor: pointer;
	}

	#modal_labels {
		float: left;
		/*width: 710px;
		margin-top: 10px;*/
		width: 73%;
		margin-top: 0.9%;
	}

	.modal_label {
	    float: left;
	    font-size: 12px;
	    margin-left: 15%;

	    text-decoration: underline;
	}


	.label, #language, #links {
		-webkit-transition: opacity 0.5s ease;
	    -moz-transition: 	opacity 0.5s ease;
	    -o-transition: 		opacity 0.5s ease;
	    transition: 		opacity 0.5s ease; 
	}

	.label:hover{
		cursor: pointer;
	}

	#labels .label {
		font-size: 90%;
		text-decoration: underline;
		height: 20px;
		width: 120px;
		z-index: 2000;
		position: absolute;		
	}


 	#who {
		left: 50%;
		top: 43%;
	}

	#contact {
		left: 56.4%;
		top: 85%;		
	}

	#github {
		left: 53.3%;
		top: 57%;
	}

	#artwork {
		left: 25%;
		top: 28%;
	}


	#blog {
		left: 81%;
		top: 68%;
	}

	#img_back {
		position: fixed;
		height: 100%;
		width: 100%;

	}

	.img {
		position: absolute;
		height: 100%;
		width: 100%;
		z-index:1000; 
		pointer-events: none;
	
		-webkit-transition: opacity 0.4s ease-in-out;/* transition pour Chrome et Safari */
	    -moz-transition: opacity 0.4s ease-in-out;/* transition pour Firefox */
	    -o-transition: opacity 0.4s ease-in-out;/* transition pour Opéra */
	    transition: opacity 0.4s ease-in-out; /* on écrit cette ligne à la fin de façon à ce que ce soit elle qui soit prise en compte lorsque l'attribut transition sera pris en compte par tous les navigateurs */	
	}

	#img_map {
		z-index: 2000;
	}
	
	.area:hover, .img:hover {
		cursor: pointer;
	}