<style type="text/css">

	

	#info_left, #table, #info_right {
		-webkit-transition: opacity 1s ease 0.75s, height 1s ease 0.1s, width 0.5s ease 0.5s;/* transition pour Chrome et Safari */
	    -moz-transition: 	opacity 1s ease 0.75s, height 1s ease 0.1s, width 0.5s ease 0.5s;/* transition pour Firefox */
	    -o-transition: 		opacity 1s ease 0.75s, height 1s ease 0.1s, width 0.5s ease 0.5s;/* transition pour Opéra */
	    transition: 		opacity 1s ease 0.75s, height 1s ease 0.1s, width 0.5s ease 0.5s;*/ 
	}

	#info_left {
		height: 50%;
		float: left;
		-moz-border-radius:10px 10px 10px 10px;
		-webkit-border-radius:10px 10px 10px 10px;
		border-radius:10px 10px 10px 10px;

	}

	
	#info_left.fade-in, {
	    opacity: 1; 
	    -ms-filter:"prodig:DXImageTransform.Microsoft.Alpha(Opacity=100)"; 
	    filter: alpha(opacity = 100);
	}
	
	#info_left.size-up {
		width: 20%;
		height: 100%;
	}

	#table.size-up {
		width: 100%;
		height: 90%;
		max-height: 90%;
	}
	
	#table {
		border-spacing: 1%;
		overflow-y: auto;
	}

	#table .list_entry {
		font-size: 13px;
		height: 30px;
		margin-bottom: 1%;
		text-align: center;
		line-height: 15px;
		-moz-border-radius:10px 10px 10px 10px;
		-webkit-border-radius:10px 10px 10px 10px;
		border-radius:10px 10px 10px 10px;
	}

	a, a:visited, a:link, a:hover  {
		color: #000000;
		text-decoration: none;
	}

	.selected {
		cursor: pointer;
		background-color: rgba(70,95,91,0.5);
	}	

	.table_entry_info > a:hover {
		cursor: pointer;
		text-decoration: underline;
	}

	#info_right, #table .list_entry {
		padding: 1%;
		border: 1px solid rgba(70,95,91,0.5);
	}

	#info_right {
		float: left;
		position: relative;
		margin-left: 1%;
		height: 90%;
		width: 74%;
		overflow-y: auto;
		padding: 1%;
	}

	#table_entry_info {
		padding: 1%;
		position: relative;
	}

	.table_entry_info {
		margin-left: 5%;
		margin-right: 3%;
		line-height: 20px;
		position: absolute;
		margin-bottom: 4%;
	}



	#table_entry_img {
		position: relative;
	}

	.info_right_img {
		position: absolute;
		height: auto;
		width: 100%;		
	}

	
	.table_entry_info, .info_right_img {
		-webkit-transition: opacity 0.7s ease-out, visibility ease 0.35s;
	    -moz-transition: 	opacity 0.7s ease-out, visibility ease 0.35s;
	    -o-transition: 		opacity 0.7s ease-out, visibility ease 0.35s;
	    transition: 		opacity 0.7s ease-out, visibility ease 0.35s;
	}

	.table_entry_info.fade-in, .info_right_img.fade-in {
		visibility: visible;
	}

	.table_entry_info.fade-out, .info_right_img.fade-out {
		visibility: hidden;
	}


	.techno, .problem, .url, .action, .idea, .info_right_img {
		
		margin-bottom: 2%;
	}

	.info_label {
		
		text-align: center;
		margin-bottom: 5px;
	}


</style>

<script type="text/javascript">
	(function(){	
	

		if(!lang_content) throw "Error Reading lang variable";

		var artwork_data = lang_content.artwork.content;	
		var techno_label = lang_content.artwork.techno;
		var problem_label = lang_content.artwork.problem;
		var action_label = lang_content.artwork.action;
		var url_label = lang_content.artwork.url;
		 
		parseJson(artwork_data);
		
		var info_left = $('info_left');
		if(fadeIn(info_left) && sizeIn(info_left)){
			
			var table = $('table');
			sizeIn(table);

			var table_entry_0 = $('table_entry_0');
			selectIn(table_entry_0);

			var table_entry_info_0 = $('table_entry_info_0');
			fadeIn(table_entry_info_0);

			setTimeout(function(){
				$('table_entry_info').style.height = (getHeight(table_entry_info_0)) +'px';
			}, 800);

			var table_entry_img_0 = $('table_entry_img_0');
			fadeIn(table_entry_img_0);
			
		}

		

		var table_entry_img, table_entry_info, old_table_entry = undefined;
		$('table').onmouseover = function(e){
			if (e == null) e = window.event;
			target = e.target != null ? e.target : e.srcElement;

			if(target.getAttribute('id') === "table" || target.tagName === "A") {
				return;
			}

			if(old_table_entry === undefined && table_entry_img === undefined) {
				old_table_entry = $('table_entry_0'); 
				table_entry_img = $('table_entry_img_0');
				table_entry_info = $('table_entry_info_0');
			}

			if(target === old_table_entry) return;

			
			selectOut(old_table_entry);
			fadeOut(table_entry_img);
			fadeOut(table_entry_info);

			var offset = target.getAttribute('offset');

			table_entry_img = $('table_entry_img_'+offset);
			table_entry_info = $('table_entry_info_'+offset);
			
			fadeIn(table_entry_img);
			fadeIn(table_entry_info);
			selectIn(target);

			$('table_entry_info').style.height = (getHeight(table_entry_info)) +'px';


			old_table_entry = target;
	
		}



		function parseJson(artwork_data){
			
			var entry,
				attach = $('info_left'),
				info_right = $('info_right'),
				table_entry_info = $('table_entry_info'),
				table_entry_img = $('table_entry_img');

		
			attach.innerHTML += "<div id='table' class='size-down'>";
			attach = $('table');
		
		
			table_entry_info.innerHTML = "";

			for(var i = 0; i < artwork_data.length; i++){
				entry = artwork_data[i];
				
				if(entry.content.url){
					attach.innerHTML += "<div id='table_entry_"+i+"' class='list_entry not-selected' content='"+i+"'>"+entry.title+"</div>";
				} else {
					attach.innerHTML += "<div id='table_entry_"+i+"' class='list_entry not-selected' content='"+i+"'>"+entry.title+"</div>";
				}
				
				if(entry.content.url){
					$('table_entry_'+i).setAttribute('url', entry.content.url);
				}

				$('table_entry_'+i).setAttribute('offset', i);
				
				table_entry_info.innerHTML += "<div id='table_entry_info_"+i+"' class='table_entry_info  fade-out'></div>";
				parseJsonEntry($('table_entry_info_'+i), entry, i);

				if(entry.content.img){
					table_entry_img.innerHTML += "<a href='"+entry.content.url+"' target='_blank'><img id='table_entry_img_"+i+"'  class='info_right_img fade-out' src='img/"+entry.content.img+"'/></a>";
				}
				
			}

			info_left = $('info_left');
			info_left.innerHTML += "</div>";
		}

		function parseJsonEntry(elem, entry, offset){

			var attach,
				content = entry.content;

			if(content.idea){
				elem.innerHTML += '<p id="idea_'+offset+'" class="idea">'+content.idea+'</p>';
			}
			
			if(content.techno){
				elem.innerHTML += '<h4 class="info_label">'+techno_label+'</h4><ul id="techno_'+offset+'" class="techno">';
				attach =  $('techno_'+offset);
				for(var i = 0; i < content.techno.length; i++){
					attach.innerHTML += '<li>'+content.techno[i]+'</li>';
				}
				elem.innerHTML += '</ul>';
			}

			if(content.action){
				elem.innerHTML += '<h4 class="info_label">'+action_label+'</h4><p id="action_'+offset+'" class="action">'+content.action+'</p>';
			}			

			if(content.problem){
				elem.innerHTML += '<h4 class="info_label">'+problem_label+'</h4><ul id="problems_'+offset+'" class="problems">';
				attach = $('problems_'+offset);
				for(var i = 0; i < content.problem.length; i++){

					attach.innerHTML += '<li>'+content.problem[i]+'</li>';	
				}
				elem.innerHTML += '</ul>';
			}

			if(content.url){
				elem.innerHTML += url_label+' <a id="url_'+offset+'" class="url" target="_blank" href="'+content.url+'" alt="'+content.url+'">'+entry.title+'</a>';
			}
			
		}
	}());
</script>


