<style type="text/css">

#modal_content.size-up {
	height: 420px;
	width: 380px;
	overflow: auto;
	resize: none;
}


#modal_contact {
	margin: 0;
}

#info_right {
	width: 90%;
}

.modal_label {
    float: left;
    font-size: 12px;
    margin-left: 10%;
    margin-top: 2px;
    margin-bottom: 2px;
    text-align: justify;
    text-decoration: underline;
}

#table_entry_info {
	
	font-size: 13px;
}

#table_entry_info p {
	font-size: 13px;
}

#modal_labels {
	width: 100%;
}

#close {
	margin-top: 4%;
}

</style>

<script type="text/javascript">
(function(){
	if(!lang_content) throw "Error Reading lang variable";

	var contact_data = lang_content.contact;

	var attach = $('table_entry_info');
	attach.innerHTML = '<p>'+contact_data.intro+'</p>';
	attach.innerHTML += '<a id="foxyform_embed_link_129636" href="http://fr.foxyform.com/"></a>';

	(function(d, t){
	   var g = d.createElement(t),
	       s = d.getElementsByTagName(t)[0];
	   g.src = "http://fr.foxyform.com/js.php?id=129636&sec_hash=127b6d5761d&width=350px";
	   s.parentNode.insertBefore(g, s);
	}(document, "script"));


}());

</script>